<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/templates/style.css" type="text/css">
    <title>Schedule</title>
</head>
<body>
    <center><button onclick="clearTable()">✖</button></center>

    <table border="1" id="data-table">
        <thead>
            <tr>
                <th>Begin</th>
                <th>Eind</th>
                <th>Vak</th>
                <th>Docent</th>
                <th>Locatie</th>
            </tr>
        </thead>
        <tbody id="table-body"></tbody>
    </table>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        //var socket = io.connect("http://127.0.0.1:5000");
        var socket = io();

        socket.on("update_data", function(msg) {
            console.log("Nieuwe data ontvangen:", msg);
            let jsonData = JSON.parse(msg.data);
            updateTable(jsonData);
            
        });


        function updateTable(data) {
			console.log("Tabel update 1");
            let tableBody = document.getElementById("table-body");
            tableBody.innerHTML = "";

            
            let numRows = Object.keys(data["Start Time"]).length;

            for (let i = 0; i < numRows; i++) {
                let row = document.createElement("tr");
                //console.log("Tabel update 2");

                row.innerHTML = `
					<td>${data["Start Time"][i]}</td>
                    <td>${data["End Time"][i]}</td>
                    <td>${data["Subject"][i]}</td>
                    <td>${data["Teacher"][i]}</td>
                    <td>${data["Location"][i]}</td>
                    `;

                tableBody.appendChild(row);
                console.log("Tabel update 3");
			};
			//console.log("Tabel update 4");
        };

        function clearTable() {
            document.getElementById("table-body").innerHTML = "";
        };


    </script>
</body>
</html>
